@font-face {
    font-family: 'ysans-regular';
    src: url('//yastatic.net/morda-logo/i/fonts/ysans-regular.woff')
}

body {
    background-color:   #efe5d0;
    margin:             20px;
    font-family:        ysans-regular, "Times New Roman", Times, serif;
    font-size:          small;
}

h1 {
    font-size:          120%;
    color:              #954b4b;
}

h2 {
    font-size:          110%;
}

a:link {
    color:            #b76666;
    text-decoration:  none;
    border-bottom:    thin dotted #b76666;
}

a:visited {
    color:            #675c47;
    text-decoration:  none;
    border-bottom:    thin dotted #675c47;
}
