.center {
    text-align:         center;
}

.right {
    text-align:         right;
}

table {
    border:             thin solid black;
    caption-side:       inherit;
    border-collapse:    collapse;
    font-size:          13px;
}

th {
    background-color:   rgb(25, 67, 97);;
    color:              white;
}

td, th {
    border:             1px solid black;
    padding:            5px;
}

tr:nth-child(2n+1) {
    background-color:   rgb(215, 225, 255);
}

a#imageLinkDelete, a#imageLinkEdit {
    border-bottom: none;
}

.button_action {
    display:            table-row;
}

.button_action form {
    display:            table-cell;
    padding-right:      5px;
}
