#all_content {
    width:              800px;
    margin-left:        auto;
    margin-right:       auto;
}

header.top {
    background-color:   rgb(25, 67, 97);
    margin:             0px 10px 0px 10px;
    height:             40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header.top #top_logo {
    margin-left:        5px;
}

header.top #top_registration {
    color:              white;
    position:           fixed;
    top:                10px;
    right:              130px;
    width:              330px;
}

header.top #top_registration a {
    color:              white;
    border-bottom:      dotted;
}

body {
    background-color:   rgb(63, 169, 245);
    font-family:        'Ubuntu', sans-serif;
    font-size:          13px;
    margin:             0px;
}

#main {
    background-color:   white;
    padding:            15px;
    margin:             10px;
    border-radius:      5px;
}

#main #form_registration {
    width:              250px;
    margin:             0 auto;
}

#main #image_registration {
    margin-left:        20%;
    margin-right:       20%;
}

footer {
    background-color:   rgb(25, 67, 97);
    color:              white;
    text-align:         center;
    padding:            5px;
    margin:             0px 10px 0px 10px;
    font-size:          90%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

h1 {
    font-size:          120%;
    color:              rgb(25, 67, 97)
}

h2 {
    font-size:          110%;
}

#message {
    color:              red;
}

a:link {
    color:              rgb(66, 76, 204);
    text-decoration:    none;
    border-bottom:      thin dotted rgb(66, 76, 204);
}

a:visited {
    color:              rgb(25, 67, 97);;
    text-decoration:    none;
    border-bottom:      thin dotted rgb(25, 67, 97);;
}

nav {
    background-color:   white;
    margin:             10px;
    border-radius:      5px;
}

nav ul {
    margin:             10px 10px 0px 10px;
    list-style-type:    none;
    padding:            5px 0px 5px 0px;
}

nav ul li {
    display:            inline;
    padding:            5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
    color:              rgb(25, 67, 97);
    border-bottom:      none;
    font-weight:        bold;

    /*text-shadow:        1px 1px 3px #e2c2c2;*/
    /*text-transform:     uppercase;*/
}

nav ul li.selected {
    background-color:   rgb(238, 181, 66);
}